<!doctype html>
<html lang="ja">

    {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
　　 <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <title>Mylish</title>
</head>

<body>
    <header>
        <div class="logo2">
            <h1>Mylish</h1>
        </div>
        <nav>
            <ul class=global-nav>
                <li><a href="login">ログイン</a></li>
                <li><a href='/newlogin'>新規登録</a></li>
            </ul>
        </nav>

    </header>
    <div id="wrap">
        <div class="content">
            <h1 class="Introduction">このアプリの紹介</h1>
            <p class="matter">
                このアプリでは英語を超効率的に勉強することができます。
                <br>具体的には
                <br><span style="color:red">・チャンク学習</span>
                <br><span style="color:red">・検索練習（科学が認めた最強の勉強法）</span>
                <br>をすることができます。
            </p>
            <h1 class="chank">●チャンク学習とは</h1>
            <p class="chankcontent">
                チャンクとは塊という意味で英語を単語ごとに覚えるのではなく、フレーズごとに覚える勉強方法です。
                <br>チャンク学習をすることで英語の文を読むのが早くなったり、スラスラ英語を話せるようになります。
                <br>このアプリでは自分がよく使うフレーズを翻訳し、保存することができます。
            </p>
            <h1 class="serchPractice">●検索練習とは</h1>
            <p class="serchPracticeContent">
                検索練習とは簡単にいうと思い出す作業のことです。
                <br>例えば、
                <br>・フラッシュカード
                <br>・小テスト
                <br>・テキストの暗唱
                <br>などがあります。
                <br>多くの研究でこの勉強法の効果は実証されています。
                <br>このアプリでは保存したフレーズをテスト形式でランダムに出題することができます。
            </p>
            <h1 class="useApp">このアプリの使い方</h1>
            <p class="useAppContent">
                1.まずは右上からログインまたは新規登録をしてください。
                <br>2.左の枠に自分が翻訳したいフレーズを入力してください。(入れ替えボタンで日本語と英語を入れ替えることができます。)
                <br>3.下の翻訳ボタンを押してください。
                <br>4.保存したい場合は下の保存ボタンを押してください。
                <br>5.右上から復習画面に移動すると今まで保存したフレーズが一覧できます。
                <br>6.右上からテスト画面に移動すると保存されているフレーズからランダムで問題が出されます。(入れ替えボタンで日本語と英語を入れ替えることができます。)
            </p>
        </div>
    </div>
    <footer>
    </footer>
    <script>
        'use strict';
    </script>
</body>

</html>
