<!doctype html>
<html lang="ja">

    {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Mylish</title>
</head>

<body>
    <header>
        <div class="logo">
            <h1>Mylish</h1>
        </div>

    </header>
    <div id="wrap">
        <div class="content">
            

        </div>
    </div>
    <footer>
    </footer>
    <script>
        'use strict';
    </script>
</body>

</html>
