<!doctype html>
<html lang="ja">

    {% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Mylish</title>
</head>

<body>
    <header>
        <div class="logo2">
            <h1>Mylish</h1>
        </div>

    </header>
    <div id="wrap">
        <div class="content">
            <form action="registration" method="POST">
                {% csrf_token %}
                <p class="namein">{{text}}</p>
                <p class="name">名前</p>
                <p><textarea class="nameinput" cols="30" rows="1" name="name_input">{{name_input}}</textarea></p>
                <p class="password">パスワード</p>
                <p><textarea class="passwordinput" cols="40" rows="1" name="password_input">{{password_input}}</textarea></p>
                <p><button class="login">新規登録</button></p>
            </form>
            <form action="back" method="POST">
                {% csrf_token %}
                <p><button class="return">戻る</button></p>
            </form>
        </div>
    </div>
    <footer>
    </footer>
    <script>
        'use strict';
    </script>
</body>

</html>
